<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <!-- Footer Section -->
    <footer>
        <section id="footer-top-section">
            <div class="overlay-footer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-col wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <div class="footer-about">
                            <img src="image/edubit-footer-logo.png" alt="footer-image">
                            <p class="mb-4">Lorem of the main advantages of Mastestudy is a simple interface. Everything is created for users’ convenience.</p>
                            <h5> Follow Us</h5>
                            <ul class="d-flex">
                                <li class="facebook mr-4">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="linkedin mr-4">
                                    <a href=""><i class="fa fa-linkedin-square"></i></a>
                                </li>
                                <li class="instagram mr-4">
                                    <a href=""><i class="fa fa-instagram"></i></a>
                                </li>
                                <li class="twitter mr-4">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 footer-col">
                        <div class="footer-service wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <h3 class="footer-text ">Pages</h3>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="courses.html">Courses</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="notice.html">Notice</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-col wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <div class="footer-news">
                            <h3 class="footer-text ">Recent Posts</h3>
                            <div class="media ">
                                <img class="mr-3 mb-4" src="image/footer.image.png" alt="Generic placeholder image">
                                <div class="media-body">
                                    <a href="#"><h5 class="mt-0">Magna aliqua enimad minim </h5></a>
                                    <span>Feb 28, 2021</span>
                                </div>
                            </div>
                            <div class="media">
                                <img class="mr-3" src="image/footer.image.2.png" alt="Generic placeholder image">
                                <div class="media-body">
                                    <a href="#"><h5 class="mt-0">Magna aliqua enimad minim </h5></a>
                                    <span>Feb 28, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-col wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <div class="footer-contact">
                            <h3 class="footer-text ">Contacts</h3>
                            <p>Discover St, New York, NY 10012, USA</p>
                            <ul>
                                <li><i class="fa fa-phone mr-2"></i>+123 456 789</li>
                                <li><i class="fa fa-envelope-o mr-2"></i>example@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer-bottom">
            <div class="footer-bottom-text text-center">
                <p class="mb-0">©2021 All Right Reserved</p>
            </div>
        </div>
        <a class="scrollToTop" href="slider-banner" style=""><i class="fa fa-angle-up"></i></a>
    </footer>
    <!-- Footer Section - end -->

    <!-- jquery-3.5.0.min - js -->
    <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
    <!-- bootstrap.min - js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
    <!-- popper.min - js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <!-- owl.carousel.min - js -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- wow.min - js -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!--slick js  -->
    <script th:src="@{/js/slick.js}"></script>
    <!-- main - js -->
    <script th:src="@{/js/main.js}"></script>
</div>
</html>
